<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baidu.fbu.asset.mapper.AssetStageDetailMapper">
    <resultMap id="BaseResultMap" type="com.baidu.fbu.asset.entity.AssetStageDetail">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="loan_id" property="loanId" jdbcType="BIGINT"/>
        <result column="LOAN_SCHEDULE_NO" property="loanScheduleNo" jdbcType="INTEGER"/>
        <result column="STATUS" property="status" jdbcType="INTEGER"/>
        <result column="DUE_DATE" property="dueDate" jdbcType="DATE"/>
        <result column="product_type" property="productType" jdbcType="VARCHAR"/>
        <result column="amount" property="amount" jdbcType="BIGINT"/>
        <result column="amount_REPAY" property="amountRepay" jdbcType="BIGINT"/>
        <result column="PRINCIPAL" property="principal" jdbcType="BIGINT"/>
        <result column="PRINCIPAL_REPAY" property="principalRepay" jdbcType="BIGINT"/>
        <result column="INTEREST" property="interest" jdbcType="BIGINT"/>
        <result column="INTEREST_REPAY" property="interestRepay" jdbcType="BIGINT"/>
        <result column="CHARGES" property="charges" jdbcType="BIGINT"/>
        <result column="CHARGES_REPAY" property="chargesRepay" jdbcType="BIGINT"/>
        <result column="PENALTY" property="penalty" jdbcType="BIGINT"/>
        <result column="PENALTY_REPAY" property="penaltyRepay" jdbcType="BIGINT"/>
        <result column="OVERDUE" property="overdue" jdbcType="BIGINT"/>
        <result column="OVERDUE_REPAY" property="overdueRepay" jdbcType="BIGINT"/>
        <result column="VIOLATE" property="violate" jdbcType="BIGINT"/>
        <result column="VIOLATE_REPAY" property="violateRepay" jdbcType="BIGINT"/>
        <result column="MANAGEMENT" property="management" jdbcType="BIGINT"/>
        <result column="MANAGEMENT_REPAY" property="managementRepay" jdbcType="BIGINT"/>
        <result column="SERVICE" property="service" jdbcType="BIGINT"/>
        <result column="SERVICE_REPAY" property="serviceRepay" jdbcType="BIGINT"/>
        <result column="createtime" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, loan_id, LOAN_SCHEDULE_NO, STATUS, DUE_DATE, product_type, amount, amount_REPAY,
        PRINCIPAL, PRINCIPAL_REPAY, INTEREST, INTEREST_REPAY, CHARGES, CHARGES_REPAY, PENALTY,
        PENALTY_REPAY, OVERDUE, OVERDUE_REPAY, VIOLATE, VIOLATE_REPAY, MANAGEMENT, MANAGEMENT_REPAY,
        SERVICE, SERVICE_REPAY, createtime, updatetime
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_installment_schedule
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_installment_schedule
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insertSelective" parameterType="com.baidu.fbu.asset.entity.AssetStageDetail">
        insert into t_installment_schedule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="loanId != null">
                loan_id,
            </if>
            <if test="loanScheduleNo != null">
                LOAN_SCHEDULE_NO,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="dueDate != null">
                DUE_DATE,
            </if>
            <if test="productType != null">
                product_type,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="amountRepay != null">
                amount_REPAY,
            </if>
            <if test="principal != null">
                PRINCIPAL,
            </if>
            <if test="principalRepay != null">
                PRINCIPAL_REPAY,
            </if>
            <if test="interest != null">
                INTEREST,
            </if>
            <if test="interestRepay != null">
                INTEREST_REPAY,
            </if>
            <if test="charges != null">
                CHARGES,
            </if>
            <if test="chargesRepay != null">
                CHARGES_REPAY,
            </if>
            <if test="penalty != null">
                PENALTY,
            </if>
            <if test="penaltyRepay != null">
                PENALTY_REPAY,
            </if>
            <if test="overdue != null">
                OVERDUE,
            </if>
            <if test="overdueRepay != null">
                OVERDUE_REPAY,
            </if>
            <if test="violate != null">
                VIOLATE,
            </if>
            <if test="violateRepay != null">
                VIOLATE_REPAY,
            </if>
            <if test="management != null">
                MANAGEMENT,
            </if>
            <if test="managementRepay != null">
                MANAGEMENT_REPAY,
            </if>
            <if test="service != null">
                SERVICE,
            </if>
            <if test="serviceRepay != null">
                SERVICE_REPAY,
            </if>
            <if test="createtime != null">
                createtime
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="loanId != null">
                #{loanId,jdbcType=BIGINT},
            </if>
            <if test="loanScheduleNo != null">
                #{loanScheduleNo,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="dueDate != null">
                #{dueDate,jdbcType=DATE},
            </if>
            <if test="productType != null">
                #{productType,jdbcType=VARCHAR},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=BIGINT},
            </if>
            <if test="amountRepay != null">
                #{amountRepay,jdbcType=BIGINT},
            </if>
            <if test="principal != null">
                #{principal,jdbcType=BIGINT},
            </if>
            <if test="principalRepay != null">
                #{principalRepay,jdbcType=BIGINT},
            </if>
            <if test="interest != null">
                #{interest,jdbcType=BIGINT},
            </if>
            <if test="interestRepay != null">
                #{interestRepay,jdbcType=BIGINT},
            </if>
            <if test="charges != null">
                #{charges,jdbcType=BIGINT},
            </if>
            <if test="chargesRepay != null">
                #{chargesRepay,jdbcType=BIGINT},
            </if>
            <if test="penalty != null">
                #{penalty,jdbcType=BIGINT},
            </if>
            <if test="penaltyRepay != null">
                #{penaltyRepay,jdbcType=BIGINT},
            </if>
            <if test="overdue != null">
                #{overdue,jdbcType=BIGINT},
            </if>
            <if test="overdueRepay != null">
                #{overdueRepay,jdbcType=BIGINT},
            </if>
            <if test="violate != null">
                #{violate,jdbcType=BIGINT},
            </if>
            <if test="violateRepay != null">
                #{violateRepay,jdbcType=BIGINT},
            </if>
            <if test="management != null">
                #{management,jdbcType=BIGINT},
            </if>
            <if test="managementRepay != null">
                #{managementRepay,jdbcType=BIGINT},
            </if>
            <if test="service != null">
                #{service,jdbcType=BIGINT},
            </if>
            <if test="serviceRepay != null">
                #{serviceRepay,jdbcType=BIGINT},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>
    <update id="updateSelective" parameterType="com.baidu.fbu.asset.entity.AssetStageDetail">
        update t_installment_schedule
        <set>
            <if test="loanId != null">
                loan_id = #{loanId,jdbcType=BIGINT},
            </if>
            <if test="loanScheduleNo != null">
                LOAN_SCHEDULE_NO = #{loanScheduleNo,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=INTEGER},
            </if>
            <if test="dueDate != null">
                DUE_DATE = #{dueDate,jdbcType=DATE},
            </if>
            <if test="productType != null">
                product_type = #{productType,jdbcType=VARCHAR},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=BIGINT},
            </if>
            <if test="amountRepay != null">
                amount_REPAY = #{amountRepay,jdbcType=BIGINT},
            </if>
            <if test="principal != null">
                PRINCIPAL = #{principal,jdbcType=BIGINT},
            </if>
            <if test="principalRepay != null">
                PRINCIPAL_REPAY = #{principalRepay,jdbcType=BIGINT},
            </if>
            <if test="interest != null">
                INTEREST = #{interest,jdbcType=BIGINT},
            </if>
            <if test="interestRepay != null">
                INTEREST_REPAY = #{interestRepay,jdbcType=BIGINT},
            </if>
            <if test="charges != null">
                CHARGES = #{charges,jdbcType=BIGINT},
            </if>
            <if test="chargesRepay != null">
                CHARGES_REPAY = #{chargesRepay,jdbcType=BIGINT},
            </if>
            <if test="penalty != null">
                PENALTY = #{penalty,jdbcType=BIGINT},
            </if>
            <if test="penaltyRepay != null">
                PENALTY_REPAY = #{penaltyRepay,jdbcType=BIGINT},
            </if>
            <if test="overdue != null">
                OVERDUE = #{overdue,jdbcType=BIGINT},
            </if>
            <if test="overdueRepay != null">
                OVERDUE_REPAY = #{overdueRepay,jdbcType=BIGINT},
            </if>
            <if test="violate != null">
                VIOLATE = #{violate,jdbcType=BIGINT},
            </if>
            <if test="violateRepay != null">
                VIOLATE_REPAY = #{violateRepay,jdbcType=BIGINT},
            </if>
            <if test="management != null">
                MANAGEMENT = #{management,jdbcType=BIGINT},
            </if>
            <if test="managementRepay != null">
                MANAGEMENT_REPAY = #{managementRepay,jdbcType=BIGINT},
            </if>
            <if test="service != null">
                SERVICE = #{service,jdbcType=BIGINT},
            </if>
            <if test="serviceRepay != null">
                SERVICE_REPAY = #{serviceRepay,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="countSelective" resultType="long" parameterType="com.baidu.fbu.asset.entity.AssetStageDetail">
        select count(*) from tbl_asset_stage_detail
        <include refid="selectConditions"/>
    </select>

    <select id="selectSelective" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from tbl_asset_stage_detail
        <include refid="selectConditions"/>
        order by updatetime desc
        <if test="startRow > -1 and pageSize > 0">
            limit #{startRow}, #{pageSize}
        </if>
    </select>

    <sql id="selectConditions">
        <where>
            <if test="loanId > 0 ">
                and loan_id = #{ loanId }
            </if>
        </where>
    </sql>

    <resultMap id="stageExcel" type="com.baidu.fbu.asset.entity.AssetStageDetail">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="loan_id" property="loanId" jdbcType="BIGINT"/>
        <result column="LOAN_SCHEDULE_NO" property="loanScheduleNo" jdbcType="INTEGER"/>
        <result column="STATUS" property="status" jdbcType="INTEGER"/>
        <result column="DUE_DATE" property="dueDate" jdbcType="DATE"/>
        <result column="product_type" property="productType" jdbcType="VARCHAR"/>
        <result column="amount" property="amount" jdbcType="BIGINT"/>
        <result column="amount_REPAY" property="amountRepay" jdbcType="BIGINT"/>
        <result column="PRINCIPAL" property="principal" jdbcType="BIGINT"/>
        <result column="PRINCIPAL_REPAY" property="principalRepay" jdbcType="BIGINT"/>
        <result column="INTEREST" property="interest" jdbcType="BIGINT"/>
        <result column="INTEREST_REPAY" property="interestRepay" jdbcType="BIGINT"/>
        <result column="CHARGES" property="charges" jdbcType="BIGINT"/>
        <result column="CHARGES_REPAY" property="chargesRepay" jdbcType="BIGINT"/>
        <result column="PENALTY" property="penalty" jdbcType="BIGINT"/>
        <result column="PENALTY_REPAY" property="penaltyRepay" jdbcType="BIGINT"/>
        <result column="OVERDUE" property="overdue" jdbcType="BIGINT"/>
        <result column="OVERDUE_REPAY" property="overdueRepay" jdbcType="BIGINT"/>
        <result column="VIOLATE" property="violate" jdbcType="BIGINT"/>
        <result column="VIOLATE_REPAY" property="violateRepay" jdbcType="BIGINT"/>
        <result column="MANAGEMENT" property="management" jdbcType="BIGINT"/>
        <result column="MANAGEMENT_REPAY" property="managementRepay" jdbcType="BIGINT"/>
        <result column="SERVICE" property="service" jdbcType="BIGINT"/>
        <result column="SERVICE_REPAY" property="serviceRepay" jdbcType="BIGINT"/>
        <result column="INSTALLMENT_COUNT" property="installmentCount" jdbcType="INTEGER"/>
        <result column="transfer_status" property="transferStatus" jdbcType="SMALLINT"/>
    </resultMap>

    <select id="exportAssetstages" parameterType="java.util.List" resultMap="stageExcel">

        select s.id, s.loan_id, s.loan_schedule_no, s.status, s.due_date, s.product_type, s.amount, s.amount_repay,
        s.principal, s.principal_repay, s.interest, s.interest_repay, s.charges, s.charges_repay, s.penalty,
        s.penalty_repay, s.overdue, s.overdue_repay, s.violate, s.violate_repay, s.management, s.management_repay,
        s.service, s.service_repay, d.installment_count, d.transfer_status from (
        select id, loan_id, loan_schedule_no, status, due_date, product_type, amount, amount_repay,
        principal, principal_repay, interest, interest_repay, charges, charges_repay, penalty,
        penalty_repay, overdue, overdue_repay, violate, violate_repay, management, management_repay,
        service, service_repay from tbl_asset_stage_detail
        where loan_id in
        <foreach collection="list" item="item" open="(" separator="," close=")" index="index">
            '${item, jdbcType=BIGINT}'
        </foreach>
        ) as s
        left join t_loan as d
        on s.loan_id = d.loan_id order by s.loan_id asc, s.loan_schedule_no asc
    </select>
</mapper>