<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baidu.fbu.asset.mapper.platform.LoanMapper">

    <resultMap id="BaseResultMap" type="com.baidu.fbu.asset.entity.AssetDetail">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="loan_id" property="loanId" jdbcType="BIGINT"/>
        <result column="ap_id" property="apId" jdbcType="BIGINT"/>
        <result column="transfer_status" property="transferStatus" jdbcType="SMALLINT"/>
        <result column="LOAN_STATUS" property="loanStatus" jdbcType="INTEGER"/>
        <result column="INSTALLMENT_COUNT" property="installmentCount" jdbcType="INTEGER"/>
        <result column="credit_amount" property="creditAmount" jdbcType="DECIMAL"/>
        <result column="loan_rate" property="loanRate" jdbcType="DECIMAL"/>
        <result column="loan_date" property="loanDate" jdbcType="DATE"/>
        <result column="due_date" property="dueDate" jdbcType="DATE"/>
        <result column="PENALTY" property="penalty" jdbcType="BIGINT"/>
        <result column="repay_plan_change" property="repayPlanChange" jdbcType="SMALLINT"/>
        <result column="guarantee_type" property="guaranteeType" jdbcType="VARCHAR"/>
        <result column="over_due_day" property="overDueDay" jdbcType="INTEGER"/>
        <result column="max_over_due_day" property="maxOverDueDay" jdbcType="INTEGER"/>
        <result column="history_max_amount" property="historyMaxAmount" jdbcType="BIGINT"/>
        <result column="over_due_principal" property="overDuePrincipal" jdbcType="BIGINT"/>
        <result column="over_due_interest" property="overDueInterest" jdbcType="BIGINT"/>
        <result column="is_discount" property="isDiscount" jdbcType="SMALLINT"/>
        <result column="discount_base" property="discountBase" jdbcType="BIGINT"/>
        <result column="discount_rate" property="discountRate" jdbcType="DECIMAL"/>
        <result column="amortisement_date" property="amortisementDate" jdbcType="DATE"/>
        <result column="amortisement_charge" property="amortisementCharge" jdbcType="DECIMAL"/>
        <result column="product_type" property="productType" jdbcType="VARCHAR"/>
        <result column="repay_type" property="repayType" jdbcType="VARCHAR"/>
        <result column="loan_amount" property="loanAmount" jdbcType="BIGINT"/>
        <result column="loan_fee" property="loanFee" jdbcType="BIGINT"/>
        <result column="repay_amount" property="repayAmount" jdbcType="BIGINT"/>
        <result column="repay_fee" property="repayFee" jdbcType="BIGINT"/>
        <result column="transferred_amount" property="transferredAmount" jdbcType="BIGINT"/>
        <result column="transferred_fee" property="transferredFee" jdbcType="BIGINT"/>
        <result column="surplus_amount" property="surplusAmount" jdbcType="BIGINT"/>
        <result column="surplus_fee" property="surplusFee" jdbcType="BIGINT"/>
        <result column="merchant_id" property="merchantId" jdbcType="BIGINT"/>
        <result column="customer_id" property="customerId" jdbcType="BIGINT"/>
        <result column="corp_id" property="corpId" jdbcType="VARCHAR"/>
        <result column="createtime" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, loan_id, ap_id, transfer_status, LOAN_STATUS, INSTALLMENT_COUNT, credit_amount,
        loan_rate, loan_date, due_date, PENALTY, repay_plan_change, guarantee_type, over_due_day,
        max_over_due_day, history_max_amount, over_due_principal, over_due_interest, is_discount,
        discount_base, discount_rate, amortisement_date, amortisement_charge, product_type,
        repay_type, loan_amount, loan_fee, repay_amount, repay_fee, transferred_amount, transferred_fee,
        surplus_amount, surplus_fee, merchant_id, customer_id, corp_id, createtime, updatetime
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_loan
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_loan
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insertSelective" parameterType="com.baidu.fbu.asset.entity.AssetDetail">
        insert into t_loan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="loanId != null">
                loan_id,
            </if>
            <if test="apId != null">
                ap_id,
            </if>
            <if test="transferStatus != null">
                transfer_status,
            </if>
            <if test="loanStatus != null">
                LOAN_STATUS,
            </if>
            <if test="installmentCount != null">
                INSTALLMENT_COUNT,
            </if>
            <if test="creditAmount != null">
                credit_amount,
            </if>
            <if test="loanRate != null">
                loan_rate,
            </if>
            <if test="loanDate != null">
                loan_date,
            </if>
            <if test="dueDate != null">
                due_date,
            </if>
            <if test="penalty != null">
                PENALTY,
            </if>
            <if test="repayPlanChange != null">
                repay_plan_change,
            </if>
            <if test="guaranteeType != null">
                guarantee_type,
            </if>
            <if test="overDueDay != null">
                over_due_day,
            </if>
            <if test="maxOverDueDay != null">
                max_over_due_day,
            </if>
            <if test="historyMaxAmount != null">
                history_max_amount,
            </if>
            <if test="overDuePrincipal != null">
                over_due_principal,
            </if>
            <if test="overDueInterest != null">
                over_due_interest,
            </if>
            <if test="isDiscount != null">
                is_discount,
            </if>
            <if test="discountBase != null">
                discount_base,
            </if>
            <if test="discountRate != null">
                discount_rate,
            </if>
            <if test="amortisementDate != null">
                amortisement_date,
            </if>
            <if test="amortisementCharge != null">
                amortisement_charge,
            </if>
            <if test="productType != null">
                product_type,
            </if>
            <if test="repayType != null">
                repay_type,
            </if>
            <if test="loanAmount != null">
                loan_amount,
            </if>
            <if test="loanFee != null">
                loan_fee,
            </if>
            <if test="repayAmount != null">
                repay_amount,
            </if>
            <if test="repayFee != null">
                repay_fee,
            </if>
            <if test="transferredAmount != null">
                transferred_amount,
            </if>
            <if test="transferredFee != null">
                transferred_fee,
            </if>
            <if test="surplusAmount != null">
                surplus_amount,
            </if>
            <if test="surplusFee != null">
                surplus_fee,
            </if>
            <if test="merchantId != null">
                merchant_id,
            </if>
            <if test="customerId != null">
                customer_id,
            </if>
            <if test="corpId != null">
                corp_id,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="updatetime != null">
                updatetime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="loanId != null">
                #{loanId,jdbcType=BIGINT},
            </if>
            <if test="apId != null">
                #{apId,jdbcType=BIGINT},
            </if>
            <if test="transferStatus != null">
                #{transferStatus,jdbcType=SMALLINT},
            </if>
            <if test="loanStatus != null">
                #{loanStatus,jdbcType=INTEGER},
            </if>
            <if test="installmentCount != null">
                #{installmentCount,jdbcType=INTEGER},
            </if>
            <if test="creditAmount != null">
                #{creditAmount,jdbcType=DECIMAL},
            </if>
            <if test="loanRate != null">
                #{loanRate,jdbcType=DECIMAL},
            </if>
            <if test="loanDate != null">
                #{loanDate,jdbcType=DATE},
            </if>
            <if test="dueDate != null">
                #{dueDate,jdbcType=DATE},
            </if>
            <if test="penalty != null">
                #{penalty,jdbcType=BIGINT},
            </if>
            <if test="repayPlanChange != null">
                #{repayPlanChange,jdbcType=SMALLINT},
            </if>
            <if test="guaranteeType != null">
                #{guaranteeType,jdbcType=VARCHAR},
            </if>
            <if test="overDueDay != null">
                #{overDueDay,jdbcType=INTEGER},
            </if>
            <if test="maxOverDueDay != null">
                #{maxOverDueDay,jdbcType=INTEGER},
            </if>
            <if test="historyMaxAmount != null">
                #{historyMaxAmount,jdbcType=BIGINT},
            </if>
            <if test="overDuePrincipal != null">
                #{overDuePrincipal,jdbcType=BIGINT},
            </if>
            <if test="overDueInterest != null">
                #{overDueInterest,jdbcType=BIGINT},
            </if>
            <if test="isDiscount != null">
                #{isDiscount,jdbcType=SMALLINT},
            </if>
            <if test="discountBase != null">
                #{discountBase,jdbcType=BIGINT},
            </if>
            <if test="discountRate != null">
                #{discountRate,jdbcType=DECIMAL},
            </if>
            <if test="amortisementDate != null">
                #{amortisementDate,jdbcType=DATE},
            </if>
            <if test="amortisementCharge != null">
                #{amortisementCharge,jdbcType=DECIMAL},
            </if>
            <if test="productType != null">
                #{productType,jdbcType=VARCHAR},
            </if>
            <if test="repayType != null">
                #{repayType,jdbcType=VARCHAR},
            </if>
            <if test="loanAmount != null">
                #{loanAmount,jdbcType=BIGINT},
            </if>
            <if test="loanFee != null">
                #{loanFee,jdbcType=BIGINT},
            </if>
            <if test="repayAmount != null">
                #{repayAmount,jdbcType=BIGINT},
            </if>
            <if test="repayFee != null">
                #{repayFee,jdbcType=BIGINT},
            </if>
            <if test="transferredAmount != null">
                #{transferredAmount,jdbcType=BIGINT},
            </if>
            <if test="transferredFee != null">
                #{transferredFee,jdbcType=BIGINT},
            </if>
            <if test="surplusAmount != null">
                #{surplusAmount,jdbcType=BIGINT},
            </if>
            <if test="surplusFee != null">
                #{surplusFee,jdbcType=BIGINT},
            </if>
            <if test="merchantId != null">
                #{merchantId,jdbcType=BIGINT},
            </if>
            <if test="customerId != null">
                #{customerId,jdbcType=BIGINT},
            </if>
            <if test="corpId != null">
                #{corpId,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateSelective" parameterType="com.baidu.fbu.asset.entity.AssetDetail">
        update t_loan
        <set>
            <if test="loanId != null">
                loan_id = #{loanId,jdbcType=BIGINT},
            </if>
            <if test="apId != null">
                ap_id = #{apId,jdbcType=BIGINT},
            </if>
            <if test="transferStatus != null">
                transfer_status = #{transferStatus,jdbcType=SMALLINT},
            </if>
            <if test="loanStatus != null">
                LOAN_STATUS = #{loanStatus,jdbcType=INTEGER},
            </if>
            <if test="installmentCount != null">
                INSTALLMENT_COUNT = #{installmentCount,jdbcType=INTEGER},
            </if>
            <if test="creditAmount != null">
                credit_amount = #{creditAmount,jdbcType=DECIMAL},
            </if>
            <if test="loanRate != null">
                loan_rate = #{loanRate,jdbcType=DECIMAL},
            </if>
            <if test="loanDate != null">
                loan_date = #{loanDate,jdbcType=DATE},
            </if>
            <if test="dueDate != null">
                due_date = #{dueDate,jdbcType=DATE},
            </if>
            <if test="penalty != null">
                PENALTY = #{penalty,jdbcType=BIGINT},
            </if>
            <if test="repayPlanChange != null">
                repay_plan_change = #{repayPlanChange,jdbcType=SMALLINT},
            </if>
            <if test="guaranteeType != null">
                guarantee_type = #{guaranteeType,jdbcType=VARCHAR},
            </if>
            <if test="overDueDay != null">
                over_due_day = #{overDueDay,jdbcType=INTEGER},
            </if>
            <if test="maxOverDueDay != null">
                max_over_due_day = #{maxOverDueDay,jdbcType=INTEGER},
            </if>
            <if test="historyMaxAmount != null">
                history_max_amount = #{historyMaxAmount,jdbcType=BIGINT},
            </if>
            <if test="overDuePrincipal != null">
                over_due_principal = #{overDuePrincipal,jdbcType=BIGINT},
            </if>
            <if test="overDueInterest != null">
                over_due_interest = #{overDueInterest,jdbcType=BIGINT},
            </if>
            <if test="isDiscount != null">
                is_discount = #{isDiscount,jdbcType=SMALLINT},
            </if>
            <if test="discountBase != null">
                discount_base = #{discountBase,jdbcType=BIGINT},
            </if>
            <if test="discountRate != null">
                discount_rate = #{discountRate,jdbcType=DECIMAL},
            </if>
            <if test="amortisementDate != null">
                amortisement_date = #{amortisementDate,jdbcType=DATE},
            </if>
            <if test="amortisementCharge != null">
                amortisement_charge = #{amortisementCharge,jdbcType=DECIMAL},
            </if>
            <if test="productType != null">
                product_type = #{productType,jdbcType=VARCHAR},
            </if>
            <if test="repayType != null">
                repay_type = #{repayType,jdbcType=VARCHAR},
            </if>
            <if test="loanAmount != null">
                loan_amount = #{loanAmount,jdbcType=BIGINT},
            </if>
            <if test="loanFee != null">
                loan_fee = #{loanFee,jdbcType=BIGINT},
            </if>
            <if test="repayAmount != null">
                repay_amount = #{repayAmount,jdbcType=BIGINT},
            </if>
            <if test="repayFee != null">
                repay_fee = #{repayFee,jdbcType=BIGINT},
            </if>
            <if test="transferredAmount != null">
                transferred_amount = #{transferredAmount,jdbcType=BIGINT},
            </if>
            <if test="transferredFee != null">
                transferred_fee = #{transferredFee,jdbcType=BIGINT},
            </if>
            <if test="surplusAmount != null">
                surplus_amount = #{surplusAmount,jdbcType=BIGINT},
            </if>
            <if test="surplusFee != null">
                surplus_fee = #{surplusFee,jdbcType=BIGINT},
            </if>
            <if test="merchantId != null">
                merchant_id = #{merchantId,jdbcType=BIGINT},
            </if>
            <if test="customerId != null">
                customer_id = #{customerId,jdbcType=BIGINT},
            </if>
            <if test="corpId != null">
                corp_id = #{corpId,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                updatetime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <sql id="selectConditions">
        <where>
            <if test="apId > 0 ">
                and ap_id = #{apId, jdbcType=BIGINT} and (transfer_status = 1 or transfer_status = 2)
            </if>
            <if test="apId == null and transferStatus > -1">
                and transfer_status = #{transferStatus, jdbcType=SMALLINT}
            </if>
            <if test="surplusPrincipalAmount > 0 ">
                and (surplus_amount + surplus_fee) <![CDATA[ <= ]]> #{surplusPrincipalAmount}
            </if>
            <!--<if test="productType != null and productType != '' ">-->
                <!--and product_type like CONCAT('%', #{productType}, '%')-->
            <!--</if>-->
            <if test="stageNo > 0 ">
                and installment_count = #{stageNo, jdbcType=INTEGER}
            </if>
            <if test="stageNoList != null ">
                and stage_no in
                <foreach collection="stageNoList" index="index" item="item"
                         open="(" separator="," close=")">
                    #{item, jdbcType=INTEGER}
                </foreach>
            </if>
            <if test="overDueDay != null and overDueDay >= 0 ">
                and over_due_day <![CDATA[ <= ]]> #{overDueDay, jdbcType=INTEGER}
            </if>
            <if test="startDueDate != null and startDueDate != '' ">
                and due_date <![CDATA[ >= ]]> #{startDueDate, jdbcType=DATE}
            </if>
            <if test="endDueDate != null and endDueDate != '' ">
                and due_date <![CDATA[ <= ]]> #{endDueDate, jdbcType=DATE}
            </if>
            <if test="repayStatusList != null ">
                and asset.loan_status in
                <foreach collection="repayStatusList" index="index" item="item" open="(" separator="," close=")">
                    #{item, jdbcType=INTEGER}
                </foreach>
            </if>
        </where>
    </sql>
    <select id="selectSelective" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from t_loan
        <include refid="selectConditions"/>
        order by installment_count desc, loan_date desc
        <if test="startRow > -1 and pageSize > 0">
            limit #{startRow}, #{pageSize}
        </if>
    </select>

    <select id="countSelective" resultType="java.lang.Long" parameterType="java.util.Map">
        select count(*) from t_loan
        <include refid="selectConditions"/>
    </select>

    <update id="batchUpdateByParam" parameterType="java.util.Map">
        update t_loan set
        ap_id = #{apId, jdbcType=BIGINT},
        transfer_status = #{transferStatus, jdbcType=SMALLINT}
        where loan_id in
        <foreach collection="loanIdList" index="index" item="item" open="(" separator="," close=")">
            #{item, jdbcType=BIGINT}
        </foreach>
    </update>

    <update id="batchUpdateByRelatedId" parameterType="java.util.Map">
        update t_loan set
        ap_id = 0,
        transfer_status = #{transferStatus, jdbcType=SMALLINT}
        where ap_id = #{apId, jdbcType=BIGINT}
    </update>

    <update id="removeAssetDetailsNotBuyInAnAssetPlan" parameterType="java.util.Map">
        update t_loan set
        ap_id = 0,
        transfer_status = 0
        where ap_id = #{apId, jdbcType=BIGINT}
        and loan_id not in
        <foreach collection="loanIdList" index="index" item="item" open="(" separator="," close=")">
            #{item, jdbcType=BIGINT}
        </foreach>
    </update>

    <update id="batchUpdateByLoanIds" parameterType="java.util.Map">
        update t_loan set
        ap_id = #{apId, jdbcType=BIGINT},
        transfer_status = #{transferStatus, jdbcType=SMALLINT}
        where loan_id in
        <foreach collection="loanIdList" index="index" item="item" open="(" separator="," close=")">
            #{item, jdbcType=BIGINT}
        </foreach>
    </update>

    <select id="exportAssets"
            parameterType="com.baidu.fbu.asset.entity.AssetDetail"
            resultMap="CustomResultMap">
        select
        asset.id, asset.loan_id, asset.ap_id, asset.transfer_status,asset.loan_status, asset.installment_count,
        asset.credit_amount,
        asset.loan_rate, asset.loan_date, asset.due_date, asset.penalty, asset.repay_plan_change, asset.guarantee_type,
        asset.over_due_day,
        asset.max_over_due_day, asset.history_max_amount, asset.over_due_principal, asset.over_due_interest,
        asset.is_discount,
        asset.discount_base, asset.discount_rate, asset.amortisement_date, asset.amortisement_charge,
        asset.product_type,
        asset.repay_type, asset.loan_amount, asset.loan_fee, asset.repay_amount, asset.repay_fee,
        asset.transferred_amount, asset.transferred_fee,
        asset.surplus_amount, asset.surplus_fee, asset.createtime,
        asset.updatetime,

        cus.id as t_customer_id, cus.customer_id, cus.idcard, cus.name as customer_name, cus.age, cus.gender,
        cus.degree,
        cus.profession, cus.area,

        mer.id as t_merchant_id, mer.merchant_id, mer.bank_branch_name

        from t_loan as asset
        left join t_customer as cus on asset.customer_id = cus.customer_id
        left join t_merchant as mer on asset.loan_id = mer.loan_id
        where t.ap_id = #{apId, jdbcType=BIGINT} order by asset.installment_count desc, asset.loan_date desc
    </select>

    <resultMap id="CustomResultMap" type="map">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="loan_id" property="loanId" jdbcType="BIGINT"/>
        <result column="ap_id" property="apId" jdbcType="BIGINT"/>
        <result column="transfer_status" property="transferStatus" jdbcType="SMALLINT"/>
        <result column="LOAN_STATUS" property="loanStatus" jdbcType="INTEGER"/>
        <result column="INSTALLMENT_COUNT" property="installmentCount" jdbcType="INTEGER"/>
        <result column="credit_amount" property="creditAmount" jdbcType="DECIMAL"/>
        <result column="loan_rate" property="loanRate" jdbcType="DECIMAL"/>
        <result column="loan_date" property="loanDate" jdbcType="DATE"/>
        <result column="due_date" property="dueDate" jdbcType="DATE"/>
        <result column="PENALTY" property="penalty" jdbcType="BIGINT"/>
        <result column="repay_plan_change" property="repayPlanChange" jdbcType="SMALLINT"/>
        <result column="guarantee_type" property="guaranteeType" jdbcType="VARCHAR"/>
        <result column="over_due_day" property="overDueDay" jdbcType="INTEGER"/>
        <result column="max_over_due_day" property="maxOverDueDay" jdbcType="INTEGER"/>
        <result column="history_max_amount" property="historyMaxAmount" jdbcType="BIGINT"/>
        <result column="over_due_principal" property="overDuePrincipal" jdbcType="BIGINT"/>
        <result column="over_due_interest" property="overDueInterest" jdbcType="BIGINT"/>
        <result column="is_discount" property="isDiscount" jdbcType="SMALLINT"/>
        <result column="discount_base" property="discountBase" jdbcType="BIGINT"/>
        <result column="discount_rate" property="discountRate" jdbcType="DECIMAL"/>
        <result column="amortisement_date" property="amortisementDate" jdbcType="DATE"/>
        <result column="amortisement_charge" property="amortisementCharge" jdbcType="DECIMAL"/>
        <result column="product_type" property="productType" jdbcType="VARCHAR"/>
        <result column="repay_type" property="repayType" jdbcType="VARCHAR"/>
        <result column="loan_amount" property="loanAmount" jdbcType="BIGINT"/>
        <result column="loan_fee" property="loanFee" jdbcType="BIGINT"/>
        <result column="repay_amount" property="repayAmount" jdbcType="BIGINT"/>
        <result column="repay_fee" property="repayFee" jdbcType="BIGINT"/>
        <result column="transferred_amount" property="transferredAmount" jdbcType="BIGINT"/>
        <result column="transferred_fee" property="transferredFee" jdbcType="BIGINT"/>
        <result column="surplus_amount" property="surplusAmount" jdbcType="BIGINT"/>
        <result column="surplus_fee" property="surplusFee" jdbcType="BIGINT"/>
        <result column="createtime" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP"/>

        <result column="t_customer_id" property="tblCustomerId" jdbcType="BIGINT"/>
        <result column="customer_id" property="customerId" jdbcType="BIGINT" />
        <result column="idcard" property="idcard" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="SMALLINT" />
        <result column="gender" property="gender" jdbcType="SMALLINT" />
        <result column="degree" property="degree" jdbcType="VARCHAR" />
        <result column="profession" property="profession" jdbcType="VARCHAR" />
        <result column="area" property="area" jdbcType="VARCHAR" />

        <result column="t_merchant_id" property="tblMerchantId" jdbcType="BIGINT"/>
        <result column="merchant_id" property="merchantId" jdbcType="BIGINT" />
        <result column="BANK_BRANCH_NAME" property="bankBranchName" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Custom_Column_List">
        asset.id, asset.loan_id, asset.ap_id, asset.transfer_status,asset.loan_status, asset.installment_count,
        asset.credit_amount,
        asset.loan_rate, asset.loan_date, asset.due_date, asset.penalty, asset.repay_plan_change, asset.guarantee_type,
        asset.over_due_day,
        asset.max_over_due_day, asset.history_max_amount, asset.over_due_principal, asset.over_due_interest,
        asset.is_discount,
        asset.discount_base, asset.discount_rate, asset.amortisement_date, asset.amortisement_charge,
        asset.product_type,
        asset.repay_type, asset.loan_amount, asset.loan_fee, asset.repay_amount, asset.repay_fee,
        asset.transferred_amount, asset.transferred_fee,
        asset.surplus_amount, asset.surplus_fee, asset.createtime,
        asset.updatetime,

        cus.id as t_customer_id, cus.customer_id, cus.idcard, cus.name as customer_name, cus.age, cus.gender,
        cus.degree,
        cus.profession, cus.area,

        mer.id as t_merchant_id, mer.merchant_id, mer.bank_branch_name
    </sql>
    <sql id="from_table">
        from t_loan asset
        left join t_merchant mer
        on asset.loan_id = mer.loan_id
        left join t_customer cus
        on asset.customer_id = cus.customer_id
    </sql>
    <sql id="joinSelectConditions">
        <where>
            <if test="apId > 0 ">
                and asset.ap_id = #{apId, jdbcType=BIGINT}
                and (asset.transfer_status = 1 or asset.transfer_status = 2)
            </if>
            <if test="apId == null and transferStatus > -1">
                and asset.transfer_status = #{transferStatus, jdbcType=SMALLINT}
            </if>
            <if test="surplusPrincipalAmount > 0 ">
                and (asset.surplus_amount + asset.surplus_fee) <![CDATA[ <= ]]> #{surplusPrincipalAmount}
            </if>
            <!--<if test="productType != null and productType != '' ">-->
                <!--and asset.product_type like CONCAT('%', #{productType}, '%')-->
            <!--</if>-->
            <if test="stageNo > 0 ">
                and asset.installment_count = #{stageNo, jdbcType=INTEGER}
            </if>
            <if test="stageNoList != null ">
                and asset.installment_count in
                <foreach collection="stageNoList" index="index" item="item"
                         open="(" separator="," close=")">
                    #{item, jdbcType=INTEGER}
                </foreach>
            </if>
            <if test="overDueDay != null and overDueDay >= 0 ">
                and asset.over_due_day <![CDATA[ <= ]]> #{overDueDay, jdbcType=BIGINT}
            </if>
            <if test="startDueDate != null and startDueDate != '' ">
                and asset.due_date <![CDATA[ >= ]]> #{startDueDate, jdbcType=DATE}
            </if>
            <if test="endDueDate != null and endDueDate != '' ">
                and asset.due_date <![CDATA[ <= ]]> #{endDueDate, jdbcType=DATE}
            </if>
            <if test="repayStatusList != null ">
                and asset.loan_status in
                <foreach collection="repayStatusList" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="loanId != null and loanId != '' ">
                and asset.loan_id = #{loanId, jdbcType=BIGINT}
            </if>
            <if test="startLoanTime != null and startLoanTime != '' ">
                and asset.loan_date <![CDATA[ >= ]]> #{startLoanTime, jdbcType=DATE}
            </if>
            <if test="endLoanTime != null and endLoanTime != '' ">
                and asset.loan_date <![CDATA[ <= ]]> #{endLoanTime, jdbcType=DATE}
            </if>
            <if test="merchantName != null and merchantName != '' ">
                and mer.name like CONCAT('%', #{merchantName}, '%')
            </if>
            <if test="merchantBranchName != null and merchantBranchName != '' ">
                and mer.bank_branch_name like CONCAT('%', #{merchantBranchName}, '%')
            </if>
        </where>
    </sql>
    <sql id="orderBy_and_pager">
        order by asset.installment_count desc, asset.loan_date desc
        <if test="startRow > -1 and pageSize > 0">
            limit #{startRow}, #{pageSize}
        </if>
    </sql>
    <select id="joinSelectSelective" resultMap="CustomResultMap" parameterType="java.util.Map">
        select
        <include refid="Custom_Column_List"/>
        <include refid="from_table"/>
        <include refid="joinSelectConditions"/>
        <include refid="orderBy_and_pager"/>
    </select>

    <select id="joinCountSelective" resultType="java.lang.Long" parameterType="java.util.Map">
        select count(*)
        <include refid="from_table"/>
        <include refid="joinSelectConditions"/>
    </select>

    <select id="findLoanIdByParam" resultType="java.lang.Long" parameterType="java.util.Map">
        select loan_id
        <include refid="from_table"/>
        <include refid="joinSelectConditions"/>
    </select>

    <!-- 计算某资产计划中所有借据的本息总额 -->
    <resultMap id="sumMap" type="map">
        <result column="loan_principal_amount" property="loanPrincipalAmountSum" jdbcType="BIGINT"/>   <!--贷款本息 -->
        <result column="transfer_principal_interest" property="transferPrincipalInterestSum"
                jdbcType="BIGINT"/> <!-- 转让时本息 -->
        <result column="repay_principal_interest" property="repayPrincipalInterestSum" jdbcType="BIGINT"/> <!-- 已还本息 -->
        <result column="surplus_principal_amount" property="surplusPrincipalAmountSum" jdbcType="BIGINT"/> <!--剩余本息 -->
    </resultMap>
    <sql id="sumList">
        sum(loan_amount + loan_fee) as loan_principal_amount,
        sum(transferred_amount + transferred_fee) as transfer_principal_interest,
        sum(repay_amount + repay_fee) as repay_principal_interest,
        sum(surplus_amount + surplus_fee) as surplus_principal_amount
    </sql>
    <select id="sumInterestInquiry" parameterType="long" resultMap="sumMap">
        select
        <include refid="sumList"/>
        from t_loan
        where ap_id = #{apId, jdbcType=BIGINT}
    </select>

    <resultMap type="java.util.Map" id="checkLoanIdMap">
        <result column="loan_id" property="loan_id" jdbcType="BIGINT"/>
        <result column="transfer_status" property="transfer_status" jdbcType="SMALLINT"/>
        <result column="surplus_principal_amount" property="surplus_principal_amount" jdbcType="BIGINT"/>
    </resultMap>
    <!-- 导入excel : 获取借据的剩余本金/剩余费用,判断借据是否有转让的需要-->
    <select id="checkLoanId" parameterType="java.util.Map" resultMap="checkLoanIdMap">
        select loan_id, transfer_status, (surplus_amount+surplus_fee) as surplus_principal_amount
        from t_loan
        where loan_id = #{loanId,jdbcType=BIGINT}
        and ap_id = #{apId,jdbcType=BIGINT}
    </select>

    <!-- 将某条借据 添加到计划/从某计划中删除/卖出 -->
    <!-- 0未转让,0000,1待转让,0001,2已转让1111,四个数字表示四个参数值-->
    <update id="updateTransferPrincipalInterest" parameterType="java.util.Map">
        update t_loan set
        transfer_status = #{transfer_status, jdbcType=SMALLINT},
        transferred_amount = #{#transferred_amount, jdbcType=BIGINT},
        transferred_fee = #{transferred_fee, jdbcType=BIGINT},
        ap_id = #{ap_id, jdbcType=BIGINT}
        where loan_id = #{loan_id, jdbcType=BIGINT}
    </update>

    <!-- 从某资产计划中 删除某条借据 -->
    <update id="deleteApId" parameterType="java.util.Map">
        update t_loan set ap_id = 0, transfer_status = 0, transferred_amount = 0, transferred_fee = 0
        where loan_id = #{loanId, jdbcType=BIGINT} and ap_id = #{apId, jdbcType=BIGINT}
    </update>

    <!-- 清空资产计划中的所有待转让的资产 -->
    <update id="deleteApIdBatch" parameterType="java.util.Map">
        update t_loan set ap_id = 0, transfer_status = 0
        where ap_id = #{apId, jdbcType=BIGINT} and transfer_status = 1
    </update>

</mapper>